<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="null" threshold="null">
	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="SIM- %p %-d{yyyy-MM-dd HH:mm:ss} [%t] %c{1}.%M(%L) | %m%n" />
		</layout>
	</appender>
	<!-- 文件日志 -->

	<appender name="APPLOGFILE"
		class="org.apache.log4j.FileAppender">
		<param name="File" value="c:/logs/Simulator.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="SIM-%-5p %-d{yyyy-MM-dd HH:mm:ss} %-15c{1}: %m%n" />
		</layout>
	</appender>

	<logger name="com.icip.framework">
		<level value="DEBUG" />
	</logger>
	<logger name="org.thymeleaf">
		<level value="DEBUG" />
	</logger>

	<root>
		<level value="ERROR" />
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="APPLOGFILE" />
	</root>
</log4j:configuration>